{% extends 'base/layout.html' %}


{% block content %}
{% if error_message %}
  {% include "base/errors.html" with errors=error_message %}
{% endif %}

<h3>{{ question.question_text }}</h3>
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
  <div class="radio">
    <label for="choice{{ forloop.counter }}">
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    {{ choice.choice_text }}
    </label>
  </div>
{% endfor %}
<input type="submit" value="Vote" />
</form>
{% endblock %}
